.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    border: 4px solid #333;
}

.rank {
    display: contents;
}

.square {
    width: 100%;
    height: 100%;
}

.square.light {
    background-color: #eae9d2;
}

.square.dark {
    background-color: #4b7399;
}
